// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';




html {
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    font-size: 100%;
  }
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  a {
    display: block; 
    font-size: inherit;
    text-decoration: none;
    color: rgb(64, 64, 64);
  }
  
  a,
  h1,
  h2,
  h3,
  h4,
  li,
  ul,
  p,
  span,button {
    margin: 0;
    padding: 0;
  }
  
  form,
  input,
  textarea,
  label {
    font-family: inherit;
    font-size: inherit;
    display: block;
  }
  img{
    max-width: 100%;
  }
  
  li {
    list-style-type: none;
  }
  
  p a {
    display: inline;
  }
  






//Layout

/* 1 Catalogue*/
.container-catalogue{
    margin-top: 4rem;
  }
  
  /* 1.1 Title catalogue*/
  
  .catalogue__text{
   display: inline;
   }
  
   .catalogue__line{
   width: 100%;
   height: 2px;
  } 
  
  .catalogue__title {
    position: relative;
    margin-left: 0.8rem;
    margin-right: 1.25rem;
  }
  
  /* 1.2 Card Catalouge */
  
  .catalogue__card{
    width: 100%;
    height: 40vw;
  }
  .catalogue__card-img{
    width: 100%;
    height: auto;
  }
  .catalogue__card-text{
   height: 1.5rem; 
  }
  .catalogue__card-text span, .catalogue__card-img{
    cursor: pointer;
  }
  
  .catalogue__grid{
    column-gap: 30px;
    row-gap: 50px;
    grid-template-columns: repeat(2,40vw);
    grid-template-rows: repeat(4,40vw);
  }
  
  @media screen and (min-width:768px){
    .container-catalogue{
      margin-top: 5rem;
    }
    .catalogue__card{
      height: 25vw;  
    }
    .catalogue__card-text{
      height: 2rem; 
    }
    .catalogue__grid{
      gap: 30px;
      grid-template-columns: repeat(4,20vw);
      grid-template-rows: repeat(2,25vw);
    }
  }
  
  
  @media screen and (min-width:1200px){
    .catalogue__title {
      position: relative;
      margin-left: 5rem;
      margin-right: 4rem;
    }
    .catalogue__grid{
      column-gap: 30px;
      row-gap: 0px;
    }
   
  }
  
  
  // Card product 
  
  .card-product{
    height: auto;  
    width: 100%;
  }
  
  .card_home{
    width: 70%;
    margin: auto;
  }
  .card__btn{
    width: 6rem;
    margin: auto;
  }
  
  .card__btn--home{
    width: 5rem;
  }
  
  .card-container{
    column-gap: 30px;
    margin: 1rem 1.25rem 2rem .8rem;
    grid-template-columns: repeat(2,40vw);
    row-gap: 70px;
    padding-top: 2rem;
  }
  .container-product{
    margin-top: 22vw; 
  }
  
  .card-container--home{
    grid-template-columns: repeat(2,35vw);
    column-gap: 0;
    row-gap: 40px;
  }
  
  
  @media screen and (min-width:768px){
    .card-container{
      grid-template-columns: repeat(4,20vw);
      column-gap: 45px; 
    }
    .container-product{
      margin-top: 5vw;
    }
  }
  
  @media screen and (min-width:1200px){
    .container-product{
      margin-top: 4vw;
    }
  }
  
  /* Contact */
  
  .contact{
    margin-top: 4rem;
  }
  
  .contact__social{
    margin-top: 3rem;
    padding: 2rem 0;
  }
  
  .contact__title{
    margin-bottom: 1.5rem;
  }
  
  .contact_social-icon {
    justify-content: center;
  }
  
  .contact_wpp{
    display: none;
  }
  
  @media screen and (min-width:768px){
    .contact{
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 1rem 3rem;
    }
    .contact__social{
      margin-top: 0;
    }
    .contact__title{
      margin-bottom: 2rem;
    }
    .contact_wpp{
      display: block;
    }
  }
  
  
  
  
  /* Footer */
  
  .footer{
    flex-direction: column;
    align-items: center;
    padding: 1rem ;
  }
  .footer__brand, .footer__copy{
   padding: .3rem;
  }
  
  
  /* Hero Image */
  
  .hero-image {
    height: 70vw;
    margin-top: 3rem;
    width: 100%;
  } 
  
  
  @media screen and (min-width:768px){
    .hero-image{
      height: 28vw;
    }
   
  }
  
  @media screen and (min-width:1200px){
    .hero-image{
      margin-top: 7rem;
    }
   
      
  }
  
  
  // Menu and header.
  
  
  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  
  .header__home{
    display: none;
    margin-right:2rem;
  }
  .menu {
    font-size: 0.7rem;
    left: 0;
    position: fixed;
    padding: 1rem 1.5rem;
    top: -20rem;
    width: 300px;
    transition: top 0.3s;
    z-index:1;
  }
  .menu--active {
    top: 4rem;
  }
  .menu__link {
   margin: .7rem 0; 
   position: relative; 
  }
  .menu__link img {
    height: 10px;
  }
  .sub-menu__link {
    margin: 1rem 0.7rem 0;
  }
  
  .sub-menu--unactive {
    height: 0;
    overflow: hidden;
  }
  .sub-menu--active {
    height: 100%;
    overflow: visible;
  }
  
  /////here////////////////
  
  @media screen and (min-width:1200px) {
    .container-header{
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1;
    }
    .header{
      position: static;
      height: 70px;
    }
    .header__home{
      display: block;
    }
    .menu-btn{
      display: none;
    }
    .menu{
      position: static;
      width: 100%;
      padding: 0;
    }
    .menu__nav{
     display: flex;
     justify-content: space-around;
   
    }
    .menu__link img {
      display: none;
    }
    .menu__link{
      margin: 0;
      padding: 1rem 0;
      position: relative;
    
    }
    
    .sub-menu--unactive{
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      display: none;
      height: auto;
      position: absolute;
      top: 30px;
      width: 165%;
      padding: .8rem 0;
    }
  .menu__link:hover .sub-menu--unactive{
    display: block;
  }
  
  
  }
  
  
  /* Service Section */
  
  .service{
    margin-top: 7rem;
  }
  .service_delivery{
    margin: 1rem ;
    flex-direction: column;
  }
  
  .service__img{
    margin: 1rem ;
  }
  @media screen and (min-width:768px){
    .service_delivery{
      flex-direction: row;
    }
  }
  @media screen and (min-width:1000px){
    .service_delivery{
     justify-content: center;
    }
  }
  
  
  /* Whatsapp button */
  .wpp-btn{
    bottom: 20px;
    position: fixed;
    right: 30px;
    z-index: 2;
  }


  /////Skin //////
  //Hamburger button

.hamburger-btn{
    border: 0;
    outline: none;
  }
  
  
  //Card catalogue
  
  .catalogue__card{
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  .catalogue__card-text{
    font-size: .7rem;
    letter-spacing: .2rem;
    color:rgb(64, 64, 64);
    }
  @media screen and (min-width:440px){
    .catalogue__card{
      font-size: 1rem;
      font-weight: 700;
    } 
    .catalogue__card-text{
      font-size: .8rem;
      margin-bottom: .5rem;
      }
  }
  
  @media screen and (min-width:1200px){
    .catalogue__small {
      font-size: 1.2rem;
      font-weight: lighter;
     
    }
    .catalogue__text {
      font-size: 2.2rem;
    }
    .catalogue__card-text{
      margin-bottom: 0
      }
  
      
  }
  
  
  //Contact
  
  .contact__social{
    border-top: .8px solid rgb(190, 184, 184);
    border-bottom: .8px solid rgb(190, 184, 184);
  }
  .contact__title, .contact__social{
    font-weight: 600;
  }
  .contact__title, .contact__number, .contact_social-title{
    text-align: center;
  }
  .contact_social-icon{
    padding-top: .7rem;
    font-size: 2rem;
  }
  @media screen and (min-width:768px){
    .contact{
      border-top: .8px solid rgb(190, 184, 184);
    border-bottom: .8px solid rgb(190, 184, 184);
    }
    .contact__social{
    border: none;
    }
  }
  
  
  
  
  /* Footer */
  .footer{
    font-size: .7rem;
    color: rgb(163, 163, 163);
     
   }
   
  
  
  //Menu and header
  
  .header {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  
  }
  
  .header__home{
    color:rgb(113, 82, 173);
    font-size: 1.2rem;
  }
  .header__home-a{
    color: inherit;
  }
  
  .menu {
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 5px;
  }
  
  .logo  {
    text-align: center;
    
  }
  .logo a {
    font-size: 1.4rem;
    font-weight: 600;
    color:rgb(113, 82, 173);
    
  }
  
  
  
  @media screen and (min-width:440px){
    .logo a{
      font-size: 1.7rem;
    }
  }
  
  @media screen and (min-width:1200px) {
    
    .menu{
      background-color: rgb(92,225,230);
      border-bottom-right-radius: 0;
      color: rgb(255, 255, 255);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);   
    }
   
    .menu__link  a{
      color: inherit;
      font-size: .8rem;
      font-weight: 600;
    }
    .logo a{
      font-size: 2rem;
    }
    .sub-menu--unactive{
      background-color: rgb(92,225,230);  
    }
  }
  
  //New Products 
  
  .products-new__title-small{
    color: rgb(208, 15, 64);
    font-weight: bold;
    font-size: 0.75rem;
  }
  .products-new__title-big{
    color:rgb(64, 64, 64);
    font-size: 1.8rem;
  }
  .card__name, .card__price{
    font-size: 0.75rem;
    font-weight: 600;
    margin: .5rem 0;
  }
  .card__name{
    display: -webkit-box;
    max-height: 30px;
    min-height: 30px;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  
  
  .card__price{
    color: rgb(208, 15, 64);
  }
  .card__btn{
    background-color: rgb(208, 15, 64);
    border-radius: 3%;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: .8rem;
    padding: .5rem 1rem ; 
  }
  
  .card__btn--home{
    padding: .3rem; 
    font-size: .7rem;
  }
  
  .products-new__title-small,.products-new__title-big,.card__price,.card__btn,.card__name {
    text-align: center;
  }
  
  @media screen and (min-width:1200px){
    .products-new__title-small{
      font-size: 1.2rem;
    }
    .products-new__title-big{
      font-size: 2.2rem;
    }
  }
  
  
  // Title catalogue
  
  .catalogue__line{
    font-size: 1px;
    color: rgb(64, 64, 64);
   background-color:rgb(64, 64, 64);
  }
  
  .catalogue__small {
    font-size: 0.75rem;
    font-weight: bold;
  }
   .catalogue__title {
    color: rgb(64, 64, 64);
    
  }
  .catalogue__text {
    font-size: 1.8rem;
  }
  
  /* Whatsapp button */
  .wpp-btn{
    border-radius: 50px;
    background-color: rgb(36,203,67);
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
    color:  rgb(255, 255, 255);
    font-size: 2rem;
    height: 3.4rem;
    line-height: 3.4rem;
    text-align: center;
    width: 3.4rem;
  }
  
  .wpp-btn:hover{
    background-color:rgb(255, 255, 255);
    color:rgb(36,203,67) ;
  }


  ////// Utility ////////

  
.a-i-center{
    align-items: center;
  }
  
  .bck-gray-3{
    background-color:rgb(240,240,241);
  }
  .bck-black-1{
    background-color: rgb(29, 35, 39);
  }
  .bck-red{
    background-color: red;
  }
  .bck-white{
    background-color: rgb(255, 255, 255);
  }
  
  .border-1{
    border: solid 1px rgb(29, 35, 39);
  }
  .border-gray-1{
    border: solid 1px rgb(163, 163, 163);
  }
  
  .c-pointer{
    cursor: pointer;
  }
  .c-black{
    color: rgb(0, 0, 0);
  }
  .c-gray-2{
  color: rgb(190, 184, 184);
  }
  
  .c-white{
  color: rgb(255, 255, 255);
  
  }
  .c-white-hover:hover{
  color: rgb(255, 255, 255);
  }
  .c-red{
  color: red;
  }
  .c-gray-3{
   color: rgb(64, 64, 64);
  }
  .d-none {
    display: none;
  }
  .d-block {
    display: block;
  }
  .d-flex{
    display: flex;
  }
  .d-grid{
    display: grid;
  }
  .font-0-8{
    font-size: .8rem;
  }
  .font-1-5{
    font-size: 1.5rem;
  }
  .f-d-column{
    flex-direction: column;
  }
  
  .f-size-0-9{
    font-size: .9rem;
  }
  
  .font-w-5{
    font-weight: 500;
   
  }
  
  .h-vw-100{
    height: 100vh;
  }
  
  .heigh-40{
    height: 2.5rem;
  }
  
  .j-c-center{
    justify-content: center;
  }
  .j-c-between{
    justify-content: space-between;
  }
  .j-c-end{
    justify-content:flex-end;
  }
  
  .m-left-2{
    margin-left: 2rem;
  }
  .m-rigth-0-5{
    margin-right: .5rem;
  }
  .m-rigth-1{
    margin-right: 1rem;
  }
  .m-rigth-1-5{
    margin-right: 1.5rem;
  }
  
  .m-top-1{
    margin-top: 1rem;
  }
  .m-top-2{
    margin-top: 2rem;
  }
  .m-top-3{
    margin-top: 3rem;
  }
  .m-top-4{
    margin-top: 4rem;
  }
  .m-bot-4{
    margin-bottom: 4rem;
  }
  .m-x-2{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .p-relative{
    position: relative;
  }
  
  .padding-1{
    padding: .3rem;
  }
  .text-a-center{
    text-align: center;
  }

  .n-resize{
    resize: none
  }
  .text-a-right{
    text-align: right;
  }
  
  .width-180{
    width: 11.25rem;
  }
  
  
